* {
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back{
    padding-left: 10px;
    font-size: 150%;
    display: none;
}

h1{
    text-align: center;
}
.input{
    width: 100%;
    padding: 10px 0;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(178, 199, 175);
    outline: none;
    background: transparent;
}
input:focus, input:valid{
    border-bottom: 1px solid rgb(4, 87, 48);
    transition: ease-in-out .5s;
}
input:last-child:focus, input:last-child:valid{
    border-bottom: none;
    transition: none;
}
.date {
    cursor: pointer;
}
form>div{
    position: relative;
}

label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label,
input:invalid ~ label {
  top: -20px;
  left: 0;
  color: #5a6379;
  font-size: 14px;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.button{
    cursor: pointer;
    display: block;
    width: 100%;
    border: none;
    color: black;
    height: 35px;
    font-size: 18px;
    background-color: #80a88d;
    border-radius: 3px;
}

.left-margin {
    margin: 0 .5em 0 0;
}

.right-button-margin {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.modal-body {
    padding: 20px 20px 0px 20px !important;
    text-align: center !important;
}

.modal-footer {
    text-align: center !important;
}